html, body {
  height: 100%;
  width: 100%;
}

.container {
  background-color: $bg-color-main;
  font-size: $base-font-size;
  height: 100%;
}

.header {
  height: $header-height;

  &-logo {
    background-image: url("../img/aw-logo.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50% ;
    background-size: auto 100%;
    background-color: transparent;
    height: 50px;
    width: 150px;
  }

  .search-bar {
    display: inline-block;
    height: $header-height;
    width: calc(100% - 154px);

    .search-input {
      border: 0;
      border-bottom: 1px solid #c3c3c3;
      font-size: 25px;
      height: 100%;
      padding-left: 15px;
      width: calc(100% - 104px);

      &:focus {
        outline-width: 0;
      }
    }
    .search-btn {
      background-color: #6666CC;
      border: 0;
      color: #ffffff;
      height: 100%;
      vertical-align: top;
      width: 100px;
    }
  }

  &-business {
    font-size: 32px;
    font-weight: 600;
    height: $header-height;
    line-height: 100%;
    margin-left: 250px;
    padding-top: 10px;
  }
}

.navigation {
  border: none;
  background: transparent;
  margin-bottom: 0;

  .dropdown-menu {
    font-size: $base-font-size;
  }
}

.content {
}

.footer {
  border: 1px solid $border-main-color;
  height: $footer-height;
  padding: 15px 5%;

  &>div {
    height: 100%;
  }

  .links-area {
    height: 45%;
    .links-section {
      &-select {
        margin-bottom: 15px;
      }
      &-title {
        font-weight: 600;
      }
    }
    a {
      color: $font-main-color;
    }
  }

  hr {
    color: $border-main-color;
  }

  .social-area {
    .follow-us, &-icons, .copy-rights {
      text-align: center;
    }
    .follow-us {
      font-size: 22px;
      font-weight: 600;
      padding: 15px 0;
    }
    &-icons {
      margin-bottom: 15px;
      a {
        color: #b9b9b9;
        font-size: 30px;
        margin: 0 10px;

        &:hover {
          color: #6A96FF;
        }
      }
    }
  }
}

.hr-padding {
  margin: 40px 0;
}

.events-list {
  .events-tab-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 20px -30px;
  }
}