.profile-info {
  min-height: $user-profile-height;
  padding: 110px 110px 0 110px;
  position: relative;

  &-bg-img {
    background-image: url("../img/user-bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50% ;
    background-size: cover;
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &-main {
    background-color: $bg-color-main;
    min-height: $user-profile-height - 110px;
    padding: 15px;
    position: relative;

    .profile-info-name {
      font-size: 32px;
      font-weight: 700;
      padding-left: 230px;
    }

    .profile-info-summary {
      padding-left: 230px;

      dd {
        padding-left: 120px;
      }

      dl {
        margin-bottom: 0;
      }
    }
  }
}

.module-title {
  font-size: $module-title-font-size;
  font-weight: 600;
  margin: 20px 0;
  padding-left: $module-inner-padding;
}

.module-content {
  padding: 0 $module-inner-padding 10px;
}

.module-tabs {
  margin: 20px 0;
}

.aw-events-list {
  .event-item {
    min-height: 120px;
    margin-bottom: 30px;

    &-date {
      font-size: 16px;
      font-weight: 600;
      margin-right: 50px;
      min-width: 150px;
    }

    &-avatar {
      margin-right: 50px;
    }

    &-details {
      margin-left: 350px;

      .details-title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
      }

      .details-choice {
        margin-bottom: 10px;
      }

      .details-actions {
        a {
          color: $font-main-color;
          margin-right: 15px;
        }
      }
    }
  }
}

.aw-wish-list {
  .wish-thumbnail {
    display: inline-block;
    margin-right: 30px;

    &-text {
      border-top: 1px solid $border-main-color;
      padding: 10px 0;
    }
  }
}

.module-more-link {
  background-color: $module-more-bg-color;
  cursor: pointer;
  font-weight: 600;
  height: 50px;
  line-height: 50px;
  margin-bottom: 10px;
  text-align: center;
}

.user-wall {
  .wall-message-box {
    margin-bottom: 30px;
  }

  .wall-messages-list {
    .wall-item {
      margin-bottom: 30px;
      min-height: 100px;
    }
  }

  .text-box {
    margin-left: 150px;

    &-controls {
      padding-top: 10px;
      text-align: right;

      &-btn {
        cursor: pointer;
        padding: 5px;
      }
    }
  }
}