/* DIMENSIONS */
$header-height: 50px;
$nav-height: 50px;
$user-profile-height: 350px;
$module-inner-padding: 100px;
$footer-height: 400px;

/* FONTS */
$base-font-size: 13px;
$module-title-font-size: 36px;

/* COLORS */
$font-main-color: #333333;
$border-main-color: #333333;
$bg-color-main: #fff;
$search-btn-color: #ccc;
$module-more-bg-color: #ccccff;