<div id="aw-user-info"></div>
<div class="events-list">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs module-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#aw-events-all" aria-controls="home" role="tab" data-toggle="tab"><%= aw.t('Events') %></a>
        </li>
        <li role="presentation">
            <a href="#aw-events-my" aria-controls="profile" role="tab" data-toggle="tab"><%= aw.t('My Events') %></a>
        </li>
        <li role="presentation">
            <a href="#aw-events-add" aria-controls="messages" role="tab" data-toggle="tab"><%= aw.t('Add Event') %></a>
        </li>
        <li role="presentation">
            <a href="#aw-events-friends" aria-controls="settings" role="tab" data-toggle="tab"><%= aw.t('Friends\' Events') %></a>
        </li>
        <li role="presentation">
            <a href="#aw-events-holidays" aria-controls="settings" role="tab" data-toggle="tab"><%= aw.t('Coming Holidays') %></a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content module-content">
        <div role="tabpanel" class="tab-pane active" id="aw-events-all">
            <div class="events-tab-title"><%= aw.t('All Events') %></div>
            <div class="events-container"></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="aw-events-my">
            <div class="events-tab-title"><%= aw.t('My Events') %></div>
            <div><%= aw.t('Add Event') %></div>
            <div class="events-container"></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="aw-events-add">
            <div class="events-tab-title"><%= aw.t('Add Event') %></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="aw-events-friends">
            <div class="events-tab-title"><%= aw.t('Friends\' Events') %></div>
            <div class="events-container"></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="aw-events-holidays">
            <div class="events-tab-title"><%= aw.t('Coming Holidays') %></div>
            <div class="events-container"></div>
        </div>
    </div>
</div>