<div id="aw-user-info"></div>
<div class="coming-events">
    <div class="module-title">Coming Events</div>
    <div id="aw-coming-events" class="module-content"></div>
    <div class="module-more-link">More Events</div>
</div>
<div class="random-wishes">
    <div class="module-title">Random Wishes</div>
    <div id="aw-random-wishes" class="module-content"></div>
    <div class="module-more-link">More iWishes</div>
</div>
<div class="wish-ideas">
    <div class="module-title">iWish Ideas</div>
    <div id="aw-wish-ideas" class="module-content"></div>
    <div class="module-more-link">More iWish Ideas</div>
</div>
<hr class="hr-padding" />
<div id="aw-user-wall"></div>