<div class="event-item-date pull-left"><%= date %></div>
<div class="event-item-avatar pull-left">
    <img src="//placehold.it/100x100" height="100px" width="100px"/>
</div>
<div class="event-item-details">
    <div class="details-title"><%= title %></div>
    <form class="form-inline details-choice">
        <select class="form-control">
            <option value="yes">Going</option>
            <option value="maybe">Maybe</option>
            <option value="no">Can't go</option>
        </select>
    </form>
    <div class="details-actions">
        <a href="#">Chosen Gift</a>
        <a href="#">Event datails</a>
        <a href="#">Send a card</a>
        <a href="#">Send a message</a>
    </div>
</div>