<div class="wall-user-avatar pull-left">
    <img src="assets/img/avatar.png" height="100px" width="100px"/>
</div>
<div class="text-box">
    <div class="message-box-msg"><%= message %></div>
    <div class="text-box-controls">
        <span class="text-box-controls-btn">Comment</span>
        <span class="text-box-controls-btn">Like</span>
    </div>
</div>