<div class="thumbnail">
    <img src="<%= img %>" height="200px" width="200px" />
    <div class="caption">
        <h4><%= title %></h4>
        <h5 class="wish-thumbnail-text"><%= description %></h5>
    </div>
</div>