<header id="aw-header" class="header"></header>
<nav id="aw-navigation" class="navigation navbar navbar-default"></nav>
<section id="aw-content" class="content">SECTION</section>
<footer id="aw-footer" class="footer"></footer>
<div id="aw-modalContainer"></div>