<div>
    <div class="links-area">
        <div class="col-md-3 links-section">
            <select class="form-control links-section-select">
                <% _.each(langs, function (item) { %>
                    <option value="<%= item.value %>"><%= item.title %></option>
                <% }); %>
            </select>
            <select class="form-control links-section-select">
                <% _.each(countries, function (item) { %>
                <option value="<%= item.value %>"><%= item.title %></option>
                <% }); %>
            </select>
        </div>

        <div class="col-md-3 links-section">
            <div class="links-section-title">Discover more about us</div>
            <% _.each(discover, function (item) { %>
                <div class="links-section-item">
                    <a href="<%= item.link %>"><%= item.title %></a>
                </div>
            <% }); %>
        </div>

        <div class="col-md-3 links-section">
            <div class="links-section-title">Join Us</div>
            <% _.each(join, function (item) { %>
                <div class="links-section-item">
                    <a href="<%= item.link %>"><%= item.title %></a>
                </div>
            <% }); %>
        </div>

        <div class="col-md-3 links-section">
            <div class="links-section-title">Business Area</div>
            <% _.each(business, function (item) { %>
                <div class="links-section-item">
                    <a href="<%= item.link %>"><%= item.title %></a>
                </div>
            <% }); %>
        </div>
    </div>
    <hr/>
    <div class="social-area">
        <div class="follow-us">Follow us!</div>
        <div class="social-area-icons">
            <a href="http://facebook.com/aiweesh"><i class="fa fa-facebook"></i></a>
            <a href="http://twitter.com/aiweeshofficial"><i class="fa fa-twitter"></i></a>
            <a href="http://instagram.com/aiweesh"><i class="fa fa-instagram"></i></a>
            <a href="http://linkedin.com/company/aiweesh"><i class="fa fa-linkedin"></i></a>
            <a href="http://pinterest.com/aiweeshofficial"><i class="fa fa-pinterest-p"></i></a>
            <a href="https://vk.com/aiweesh"><i class="fa fa-vk"></i></a>
        </div>
        <div class="copy-rights">&copy; aiWeesh.com</div>
    </div>
</div>