<div class="header-logo pull-left"></div>
<div class="search-bar">
    <input class="search-input" type="text" placeholder="type your interest or wish idea"/>
    <button class="search-btn">iWish ideas</button>
</div>