<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class=""><a href="#profile"><%= aw.t('Profile') %></a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= aw.t('iWishList') %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#iwishlist"><%= aw.t('iWishList') %></a></li>
                    <li><a href="#iwishlist/togive"><%= aw.t('Gifts to give') %></a></li>
                    <li><a href="#iwishlist/received"><%= aw.t('Received Gifts') %></a></li>
                    <li><a href="#iwishlist/given"><%= aw.t('Given Gifts') %></a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= aw.t('Events') %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#events/all"><%= aw.t('All events') %></a></li>
                    <li><a href="#events/my"><%= aw.t('My events') %></a></li>
                    <li><a href="#events/add"><%= aw.t('Add event') %></a></li>
                    <li><a href="#events/friends"><%= aw.t('Friends\' events') %></a></li>
                    <li><a href="#events/holidays"><%= aw.t('Coming holidays') %></a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= aw.t('Friends') %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#friends"><%= aw.t('Friends') %></a></li>
                    <li><a href="#friends/search"><%= aw.t('Search friends') %></a></li>
                    <li><a href="#friends/groups"><%= aw.t('Groups') %></a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= aw.t('Messages') %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#messages"><%= aw.t('Inbox') %></a></li>
                    <li><a href="#messages/sent"><%= aw.t('Sent') %></a></li>
                    <li><a href="#messages/trash"><%= aw.t('Trash') %></a></li>
                </ul>
            </li>
            <li><a href="#settings"><%= aw.t('Settings') %></a></li>
        </ul>
    </div>
</div>