<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a href="#business/profile">Business Profile</a></li>
            <li><a href="#business/add">Add items</a></li>
            <li><a href="#business/subscription">Subscription</a></li>
            <li><a href="#business/analytics">Analytics</a></li>
            <li><a href="#business/settings">Settings</a></li>
        </ul>
    </div>
</div>