<div class="profile-info-bg-img"></div>
<div class="profile-info-main">
    <div class="avatar pull-left">
        <img src="<%= img %>" height="200px" width="200px" />
    </div>
    <div class="profile-info-name"><%= firstname %> <%= lastname %></div>
    <div class="profile-info-summary">
        <dl>
            <dt class="pull-left">Born on</dt><dd><%= dob %></dd>
            <dt class="pull-left">From</dt><dd><%= from %></dd>
            <dt class="pull-left">Works as</dt><dd><%= position %></dd>
            <dt class="pull-left">for</dt><dd><%= company %></dd>
            <dt class="pull-left">Interested in</dt><dd><%= interests %></dd>
            <dt class="pull-left">Wishes</dt><dd><%= wishes %></dd>
            <dt class="pull-left">Public Wishes</dt><dd><%= public_wishes %></dd>
        </dl>
    </div>
</div>