<div class="profile-info-bg-img"></div>
<div class="profile-info-main">
    <div class="avatar pull-left">
        <img src="//placehold.it/200x200" height="200px" width="200px" />
    </div>
    <div class="profile-info-name"><%= name %></div>
    <div class="profile-info-summary">
        <dl>
            <dt class="pull-left">Location</dt><dd><%= location %></dd>
            <dt class="pull-left">Industry</dt><dd><%= industry %></dd>
            <dt class="pull-left">Specialisation</dt><dd><%= specialization %></dd>
            <dt class="pull-left">Its wishes wished</dt><dd><%= goods_wished %></dd>
            <dt class="pull-left">Website</dt><dd><a href="<%= website %>"><%= website %></a></dd>
            <dt class="pull-left">Description</dt><dd><%= description %></dd>
        </dl>
    </div>
</div>