<div class="wall-message-box">
    <div class="wall-user-avatar pull-left">
        <img src="assets/img/avatar.png" height="100px" width="100px"/>
    </div>
    <div class="text-box">
        <textarea class="form-control" rows="3"></textarea>
        <div class="text-box-controls">
            <span class="text-box-controls-btn">Attach</span>
            <span class="text-box-controls-btn">Send</span>
            <span class="text-box-controls-btn">Cancel</span>
        </div>
    </div>
</div>
<div class="wall-messages-list"></div>